<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content padding="unset 15px" columnwidth="8" name="mainContent">
            <wm-grid name="grid1" navigation="Basic" dataset="bind:Variables.ClassicmodelsExecuteMyquery.dataSet" title="">
                <wm-grid-column binding="sum_phone_" caption="Sum Phone" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="addressLine2" caption="Address Line2" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            </wm-grid>
            <wm-grid name="grid2" navigation="Basic" dataset="bind:Variables.ClassicmodelsExportMyquery.dataSet" title="">
                <wm-grid-column binding="inline" caption="Inline" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="fileName" caption="File Name" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="contentType" caption="Content Type" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="contentLength" caption="Content Length" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            </wm-grid>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>